<h2 class="center"> Title : <%= @article.title %></h2>
<div class="well col-xs-8 col-xs-offset-2">
  <h4 class="center my-0 " ><strong> Description </strong></h4>
  <hr>
  <%= simple_format(@article.description) %>
  <div class="articleact">
  <%= link_to 'edit', edit_article_path(@article), class: "btn btn-success" %>
  <%= link_to 'delete', article_path(@article), class: "btn btn-danger", method: :delete, data:{confirm:"are you sure?"} %>
  <%= link_to 'go back', articles_path, class: "btn btn-primary" %>
  </div>
</div>